:root {
    --text-color: #0A0606;
    --backround-color: #FAF7F7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backround-color);
    font-family: "Mako", sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

nav h1 {
    font-size: 32px
}

nav a {
    padding-right: 16px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 0 74px;
    margin: 15px 0;
}
.hero-section .text-section {
    display: flex;
    flex-direction: column;
}
.hero-section h2 {
    font-size: 48px;
    font-weight: 150;
    padding: 24px 0;
}

.hero-section p {
    font-size: 16px;
}

.hero-section .hero-img img {
    height: 375px;
    border-radius: 74px;
    user-select: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    flex: 7;
}
