* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    size: 100vh;
    font-family: sans-serif;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: rgb(23, 62, 96);
}

.top-bar h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
}

.about-page {
    width: 35%;
    height: fit-content;
    padding: 1.5rem;
    border: solid black 1px;
    background-color: antiquewhite;
}

.about-page p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}