* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 18, 24);
    width: 100%;
    height: 5rem;
    
}

.nav-bar h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding-left: 3rem;
    font-size: 1.5em;
}

.nav-content {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}

.nav-content a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
}
